body {
	font-size: 16px;
	color: #000;
	background-color: #ffebcd;
	font-family: 'Roboto', sans-serif;

}
/** HEADER **/

#header-nav{
	background-color: #96cdcd;
	border-radius: 0;
	border: 0;
}

.container{
	padding-left:10px;
	margin-top: 10px;
	width: 100%;
}
.navbar-brand {
	padding-top: 25px;
	height: 100px;
}
.navbar-brand h1{
	font-family: 'Big Shoulders Stencil Text', cursive;
	color: #cd96cd;
	font-size: 2em;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	line-height: 0.75;
	vertical-align: middle;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  box-shadow: 0 5px 5px 1px #cccccc;
}

#nav-list {
  margin-top: 10px;
}

#nav-list a {
	font-family: 'Big Shoulders Stencil Text', cursive;
	color: #000;
  text-align: center;
}
#nav-list a:hover {
  background: #96cdcd;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

h2{
	margin-bottom: 15px;
	text-align: center;
}

#p1 {
	background-color: #ee799f;
	position: relative;
	top: 0px;
	right: 0px;
	float: right;
	margin-top: 0px;
}

#p2 {
	background-color: #ee799f;
	position: relative;
	top: 0px;
	right: 0px;
	float: right;
	margin-top: 0px;
}

#p3 {
	background-color: #ee799f;
	position: relative;
	top: 0px;
	right: 0px;
	float: right;
	margin-top: 0px;
}
p {
  width: 100%;
  color: black;
  font-weight: bold;
  clear: right;
  margin: 5px;
  overflow: auto;
  padding: 5px;
}

.row > div {
	border: 10px solid #dda0dd;
}

/* PAGE */




/* PAGE */


/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */

  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
}